html{
    height: 100%;
    background: radial-gradient(circle,ghostwhite,dimgray);
    background: -webkit-radial-gradient(circle,ghostwhite,dimgray);
    background: -o-radial-gradient(circle,ghostwhite,dimgray);
    background: -moz-radial-gradient(circle,ghostwhite,dimgray);
}

#container{
    height: 600px;
    width: 750px;
    background-color: skyblue;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px deepskyblue;
    -moz-box-shadow: 4px 4px 0px 0px deepskyblue;
    -webkit-box-shadow: 4px 4px 0px 0px deepskyblue;
    position: relative;
}

#score{
    background-color:yellow;
    color: gray;
    padding: 11px;
    position: absolute;
    left: 700px;
    box-shadow: 0px 4px 0px dimgray;
    -webkit-box-shadow: 0px 4px 0px dimgray;
    -moz-box-shadow: 0px 4px 0px dimgray;
    
}

#correct{
    position: absolute;
    left: 260px;
    background-color: green;
    color: white;
    padding: 11px;
    display: none;
}
#wrong{
    position: absolute;
    left: 250px;
    background-color: red;
    color: white;
    padding: 11px;
    display: none;
}

#fruitContainer{
    width:  650px;
    height: 400px;
    margin: 50px auto 10px auto;
    background-color: white;
    box-shadow: 0px 4px black;
    -webkit-box-shadow: 0px 4px black;
    -moz-box-shadow: 0px 4px black;
    font-size: 100px;
    text-align: center;
    font-family: cursive,sans-serif;
    color: black;
    position: relative;
    overflow: hidden;
}

#instruction{
    width: 450px;
    height: 50px;
    background-color: rebeccapurple;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px black;
    -webkit-box-shadow: 0px 4px black;
    -moz-box-shadow: 0px 4px black;
}

#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;
}

.box{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.3);
    text-align: center;
    line-height: 80px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    
}

.box:hover, #startreset:hover{
    background-color: mediumpurple;
    color: white;
    box-shadow: 0px 4px rebeccapurple;
    -webkit-box-shadow: 0px 4px rebeccapurple;
    -moz-box-shadow: 0px 4px rebeccapurple;
}


.box:active, #startreset:active{
    box-shadow: 0px 0px rebeccapurple;
    -webkit-box-shadow: 0px 0px rebeccapurple;
    -moz-box-shadow: 0px 0px rebeccapurple;
    top:4px;
    position: relative;
}
#box4{
    margin-right: 0;
}


#startreset{
    padding: 10px;
    width: 78px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.3);
    text-align: center;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}


#trialsLeft{
    width: 80px;
    padding: 10px;
    position: absolute;
    background-color: yellow;
    border-radius: 3px;
    -webkit-box-shadow: 0px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px rgba(0,0,0,0.2);
   
/*    visibility: hidden;*/
    display: none;
}

#gameover{
    height: 200px;
    width: 500px;
    background: linear-gradient(#F3CA6B, #F3706C);
    background: -webkit-linear-gradient(#F3CA6B, #F3706C);
    background: -o-linear-gradient(#F3CA6B, #F3706C);
    background: -moz-linear-gradient(#F3CA6B, #F3706C);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 170px;
    left: 145px;
    z-index: 2;
    display: none;
}

.life{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

.fruit{
   display: none; 
    position: absolute;
    
}